body{
background-color: ghostwhite;
}
hl{
color: ghostwhite;
}
.rec{
color:#FFA500;
}
.rec:hover{
color:#7F007F;
}
.carousel{
    margin: 0 auto;
    width: 50%;
    height: 50%;
}
.aboutme-text{
  margin-left: 100px;
      
}